<div id="<%= dom_id cirurgia %>">
  <p>
    <strong>Data:</strong>
    <%= cirurgia.data %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= cirurgia.hora_inicio %>
  </p>

  <p>
    <strong>Hora fim:</strong>
    <%= cirurgia.hora_fim %>
  </p>

  <p>
    <strong>Sala cirurgia:</strong>
    <%= cirurgia.sala_cirurgia_id %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= cirurgia.medico_id %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= cirurgia.paciente_id %>
  </p>

  <p>
    <strong>Urgencia:</strong>
    <%= cirurgia.urgencia %>
  </p>

</div>
