<%= form_with(model: cirurgia) do |form| %>
  <% if cirurgia.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cirurgia.errors.count, "error") %> prohibited this cirurgia from being saved:</h2>

      <ul>
        <% cirurgia.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.date_field :data %>
  </div>

  <div>
    <%= form.label :hora_inicio, style: "display: block" %>
    <%= form.time_field :hora_inicio %>
  </div>

  <div>
    <%= form.label :hora_fim, style: "display: block" %>
    <%= form.time_field :hora_fim %>
  </div>

  <div>
    <%= form.label :sala_cirurgia_id, style: "display: block" %>
    <%= form.text_field :sala_cirurgia_id %>
  </div>

  <div>
    <%= form.label :medico_id, style: "display: block" %>
    <%= form.text_field :medico_id %>
  </div>

  <div>
    <%= form.label :paciente_id, style: "display: block" %>
    <%= form.text_field :paciente_id %>
  </div>

  <div>
    <%= form.label :urgencia, style: "display: block" %>
    <%= form.check_box :urgencia %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
